@code {
	[Parameter] public string Message { get; set; }
	[Parameter] public EventCallback<bool> OnConfirm { get; set; }

	private void Confirm(bool result)
	{
		OnConfirm.InvokeAsync(result);
	}
}

<MudPaper Class="p-4" Style="width: 300px;">
	<MudText Typo="Typo.body1">@Message</MudText>
	<MudDivider Class="my-2" />
	<div class="d-flex justify-content-end">
		<MudButton Variant="Variant.Text" Color="Color.Default" OnClick="@(() => Confirm(false))">Abbrechen</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => Confirm(true))" Class="ms-2">Löschen</MudButton>
	</div>
</MudPaper>