@using Blazored.SessionStorage
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ISessionStorageService SessionStorage


<div>

	<!--Menüleiste-->
	<div>
		<nav>

			<!--Home Button-->
			<div>
				<NavLink href="" Match="NavLinkMatch.All">
					Home
				</NavLink>
			</div>

			<!--Abmelden Button-->			
			<div>
				<NavLink href="/Login">
					Abmelden
				</NavLink>
			</div>
		</nav>
	</div>

	<!--Main Page-->
	<main>
		<article>
			@Body
		</article>
	</main>
</div>



@code {

}