@page "/"

@inject NavigationManager Navigation


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink href="/Login" Match="NavLinkMatch.All">
    Login
</NavLink>


@code{

}
