@page "/"

@inject NavigationManager Navigation
@layout HomeLayout


<PageTitle>Home</PageTitle>

<h1>@organisationName</h1>



<NavLink href="/Login" Match="NavLinkMatch.All">
    Login
</NavLink>


@code{
    public string organisationName = "test Orga"; // nur für erste Darstellung
}
